<h1>image_show</h1>
<%= form_with model: @post_image, url: update_post_image_path(@post_image.id), method: :patch do |f| %>
  <h4>image</h4>
    <%= f.file_field :image, accept: "image/*" %>
  <h4>title</h4>
    <%= f.text_field :title %>
  <h4>body</h4>
    <%= f.text_area :body %>
  <%= f.submit '更新' %>
<% end %>